*.pyc
.vscode
output
build
submodules/diff-gaussian-rasterization/diff_rast.egg-info
submodules/diff-gaussian-rasterization/dist
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization/_C.cpython-310-x86_64-linux-gnu.so
tensorboard_3d
screenshots
data
wandb
nohup.out
/*.yml