# --- Default Configuration for Acoustic Gaussian Splatting ---

# Device Setting
device: "cuda:0"

# Data and Model Paths
path:
  data: "data/MeshRIR"  # Path to the dataset
  dataset_type: "MeshRIR" # Type of dataset
  output: "output/default"  # Path to the output directory
  checkpoint: null  # Path to the checkpoint

# Logging Settings
logging:
  project_name: "acoustic-gaussian-splatting"
  log: True # Enable terminal logging
  wandb: True
  log_freq: 10
  test_freq: 100
  viz_freq: 1000
  save_freq: 100000

# Training Settings
training:
  total_iterations: 500000
  batchsize: 1
  lr: 5e-4
  weight_decay: 0
  T_max: 500000
  eta_min: 5e-5

# Model Initialization
model:
  gaussian_version: 2 # 1:xyz, 2:xyzt, 3:xyzf, 4:xyztf
  sh_degree: 3
  initial_points: 10000
  init_from_data: True

# Rendering Parameters
rendering:
  coord_min: -6
  coord_max:  6
  speed: 343.8
  pathloss: 1.5
  cull_distance: 1

# Audio Processing Parameters
audio:
  fs: 24000
  seq_len: 2400
  n_fft: 256
  hop_length: 64

# Loss Function Weights
loss_weights:
  spec_loss_weight: 2
  amplitude_loss_weight: 4
  angle_loss_weight: 1
  time_loss_weight: 50
  energy_loss_weight: 1
  multi_stft_loss_weight: 1

# Optimization Parameters
optimizer:
  type: "adam"
  position_lr_init: 0.00016
  position_lr_final: 0.0000016
  position_lr_delay_mult: 0.01
  position_lr_max_steps: 30000
  feature_lr: 0.0025
  opacity_lr: 0.05
  scaling_lr: 0.005
  rotation_lr: 0.001

# Densification Parameters
densification:
  densify_from_iter: 500
  densify_until_iter: 15000
  densification_interval: 100
  opacity_reset_interval: 3000
  min_grad: 0.0002
  min_opacity: 0.005
  min_scale: 0.0001
  max_scale: 0.1
  threshold_scale: 0.001